---
import Section from "@/components/Section.astro"
import { competences } from "@cv"
---

<Section>
  <div class="mb-16">
    <h2 class="mb-2 text-2xl font-bold">Aptitudes:</h2>
    <ul>
      {
        competences.map(({ name }) => {
          return (
            <li>
              <p>{name}</p>
            </li>
          )
        })
      }
    </ul>
  </div>
</Section>

<style>
  h2 {
    border-bottom: 1px black solid;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.25rem;
  }
</style>
